@import '/src/theme.scss';

.budget-building-stats {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.budget-building-header {
    margin-top: 10px;
}

.emphasis {
    background-color: map-get($map: $mat-green, $key: 200);
}

.chart {
    height: fit-content;
    display: flex;
    justify-content: center;
}