<div *ngIf="budget == null">
    <div class="flex-contain-h">
        <span style="margin-right: 10px;">You don't have a budget set for this month.</span>
        <button mat-raised-button routerLink="./create" color="primary">Create 
            <mat-icon>add_circle</mat-icon>
        </button>
    </div>
</div>
<div *ngIf="budget && budget != null && transactions">
    <h1>{{currDate | date:'MMMM'}}'s Budget</h1>
    <button mat-raised-button *ngIf="pastBudget && pastBudget.overflow" (click)="updatePastMonthOverflow()">
        <mat-icon>update</mat-icon>
        UPDATE PAST MONTH'S OVERFLOW
    </button>
    <ul>
        <li>Estimated Income: {{budget.income | currency}}</li>
        <li>Actual Income to date: {{transactionService.getTotalIncome(transactions) | currency}}</li>
        <li *ngIf="pastBudget && pastBudget.overflow">Overflow from past month: {{this.pastBudget.overflow | currency}}</li>
        <li>Totel Spent: {{transactionService.getTotalSpent(transactions) | currency}}</li>
        <ul>
            <li>Internal: {{transactionService.getTotalSaved(transactions) | currency}}</li>
            <li>External: {{transactionService.getTotalOutgoing(transactions) | currency}}</li>
        </ul>
        <li>Total Overflowing into next month: {{budget.overflow | currency}}</li>
    </ul>
    <div *ngIf="chartOption">
        <div echarts [options]="chartOption" class="chart"></div>
    </div>
    <mat-list>
        <mat-divider style="margin-bottom: 20px;"></mat-divider>
        <div *ngFor="let parent of budgetService.getParentCategories(budget)">
            <h3 style="margin-bottom: 0;">{{parent}}</h3>
            <mat-list-item *ngFor="let category of budgetService.getCategoriesForParent(parent, budget)" class="flex-container-v">
                <span mat-line>{{category.name}}: ({{transactionService.getTotalSpentForCategory(transactions, category)| currency}}/{{category.amount | currency}})</span>
                <span mat-line *ngIf="transactionService.getTotalSpentForCategory(transactions, category) > category.amount!"><mat-progress-bar mode="determinate" value="{{transactionService.getTotalSpentForCategory(transactions, category)/category.amount!*100}}" color="warn"></mat-progress-bar></span>
                <span mat-line *ngIf="transactionService.getTotalSpentForCategory(transactions, category) <= category.amount!"><mat-progress-bar mode="determinate" value="{{transactionService.getTotalSpentForCategory(transactions, category)/category.amount!*100}}" color="primary"></mat-progress-bar></span>
            </mat-list-item>
            <mat-divider style="margin-bottom: 20px;"></mat-divider>
        </div>
    </mat-list>
</div>

