<mat-toolbar color="primary" (window:resize)="onResize($event)">
    <mat-toolbar-row class="emphasis">
        <span>thinkbudget</span>
        <span class="spacer"></span>
        <!-- if not authenticated -->
        <span *ngIf="!auth.currentUser">
            <button type="button" mat-button routerLink="{{loginBtn.route}}">
                <mat-icon>{{loginBtn.icon}}</mat-icon>
                {{loginBtn.label}}
            </button>
        </span>
        <!-- if authenticated, not mobile -->
        <span *ngIf="auth.currentUser && auth.currentUser != null && !isMobile">
            <button type="button" mat-button [mat-menu-trigger-for]="accountMenu">
                <mat-icon>account_circle</mat-icon>
                Account
            </button>
            <mat-menu #accountMenu>
                <button type="button" mat-menu-item routerLink="{{accountInfoBtn.route}}">
                    <mat-icon>{{accountInfoBtn.icon}}</mat-icon>
                    {{accountInfoBtn.label}}
                </button>
                <button type="button" mat-menu-item>
                    <mat-icon>format_color_fill</mat-icon>
                    Theme
                </button>
            </mat-menu>
            <button type="button" mat-button [mat-menu-trigger-for]="budgetMenu">
                <mat-icon>bar_chart</mat-icon>
                Budget
            </button>
            <mat-menu #budgetMenu>
                <button type="button" mat-menu-item routerLink="{{budgetOverviewBtn.route}}">
                    <mat-icon>{{budgetOverviewBtn.icon}}</mat-icon>
                    {{budgetOverviewBtn.label}}
                </button>
                <button type="button" mat-menu-item routerLink="{{budgetCreateBtn.route}}">
                    <mat-icon>{{budgetCreateBtn.icon}}</mat-icon>
                    {{budgetCreateBtn.label}}
                </button>
            </mat-menu>
            <button type="button" mat-button routerLink="{{transactionOverviewBtn.route}}">
                <mat-icon>{{transactionOverviewBtn.icon}}</mat-icon>
                {{transactionOverviewBtn.label}}
            </button>
        </span>
        <button type="button" mat-button routerLink="{{logoutBtn.route}}" (click)="logout()" *ngIf="auth.currentUser && auth.currentUser != null">
            <mat-icon>{{logoutBtn.icon}}</mat-icon>
            {{logoutBtn.label}}
        </button>
    </mat-toolbar-row>
    <!-- If authenticated and on mobile -->
    <mat-toolbar-row *ngIf="auth.currentUser && auth.currentUser != null && isMobile">
        <span>
            <button type="button" mat-button [mat-menu-trigger-for]="accountMenu">
                <mat-icon>account_circle</mat-icon>
                Account
            </button>
            <mat-menu #accountMenu>
                <button type="button" mat-menu-item routerLink="{{accountInfoBtn.route}}">
                    <mat-icon>{{accountInfoBtn.icon}}</mat-icon>
                    {{accountInfoBtn.label}}
                </button>
                <button type="button" mat-menu-item>
                    <mat-icon>format_color_fill</mat-icon>
                    Theme
                </button>
            </mat-menu>
            <button type="button" mat-button [mat-menu-trigger-for]="budgetMenu">
                <mat-icon>bar_chart</mat-icon>
                Budget
            </button>
            <mat-menu #budgetMenu>
                <button type="button" mat-menu-item routerLink="{{budgetOverviewBtn.route}}">
                    <mat-icon>{{budgetOverviewBtn.icon}}</mat-icon>
                    {{budgetOverviewBtn.label}}
                </button>
                <button type="button" mat-menu-item routerLink="{{budgetCreateBtn.route}}">
                    <mat-icon>{{budgetCreateBtn.icon}}</mat-icon>
                    {{budgetCreateBtn.label}}
                </button>
            </mat-menu>
            <button type="button" mat-button routerLink="{{transactionOverviewBtn.route}}">
                <mat-icon>{{transactionOverviewBtn.icon}}</mat-icon>
                {{transactionOverviewBtn.label}}
            </button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>