.table-container {
  max-height: 300px;
  min-height: 300px;
  min-width: 640px;
}

.table-container-all {
  min-width: 640px;
}

.mat-column-account-name {
  padding: 10px;
  flex: 1 0 60px;
  justify-content: center;
}

.mat-column-trans-payee {
  padding: 10px;
  flex: 1 0 50px;
  justify-content: center;
}

.mat-column-trans-type {
  padding: 10px;
  flex: 1 0 50px;
  justify-content: center;
}

.mat-column-trans-amount-in {
  padding: 10px;
  flex: 0 0 70px;
  justify-content: center;
}
.mat-column-trans-amount-out {
  padding: 10px;
  flex: 0 0 70px;
  justify-content: center;
}

.mat-column-trans-date {
  padding: 10px;
  flex: 1 0 50px;
  justify-content: center;
}

.mat-column-trans-category {
  padding: 10px;
  flex: 1 0 50px;
  justify-content: center;
}
.mat-column-trans-note {
  padding: 10px;
  flex: 0 0 50px;
  justify-content: center;
}

.neg {
  color: rgb(194, 83, 83);
}

.pos {
  color: rgb(58, 131, 58);
}

.note {
  color: rgb(226, 226, 113);
}