.table-container {
    overflow: auto;
    max-height: 300px;
}

.table-container-all {
    overflow-x: auto;
}

table {
    width: 100%;
}

.mat-column-account_name {
    padding: 10px;
}

.mat-column-trans_type {
    padding: 10px;
}

.mat-column-trans_amount {
    padding: 10px;
}

.mat-column-trans_date {
    padding: 10px;
}

.mat-column-trans_payee {
    padding: 10px;
}