.loginForm {
    min-width: 100px;
    min-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}