<div *ngIf="isRegistered; else register">
    <!-- Title bar -->
    <div class="flex-container-h">
        <span><h1>Login</h1></span>
        <span class="spacer"></span>
        <button mat-button color="primary" (click)='toggleRegister()'>Register
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <!-- Login form -->
    <form [formGroup]="accountForm" (ngSubmit)="login()" class="flex-container-v" style="margin-top: 10px;">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email">
            <mat-error>Required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
</div>

<ng-template #register>
    <!-- Title bar -->
    <div class="flex-container-h">
        <span><h1>Register</h1></span>
        <span class="spacer"></span>
        <button mat-button color="primary" (click)='toggleRegister()'>Login
            <mat-icon>login</mat-icon>
        </button>
    </div>
    <!-- Login form -->
    <form [formGroup]="accountForm" (ngSubmit)="create()" class="flex-container-v" style="margin-top: 10px;">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
</ng-template>