<!-- TODO: Proper wrapping when on mobile view -->
<mat-toolbar color="primary">
    <button mat-button routerLink="/home" style="font-size: larger;">ThinkBudget</button>
    <div *ngIf="auth.currentUser">
        <button mat-button [matMenuTriggerFor]="accountMenu">Account</button>
        <mat-menu #accountMenu>
            <a mat-menu-item routerLink="/account">Information</a>
        </mat-menu>
    </div>
    <span class="spacer"></span>
    <div *ngIf="auth.currentUser; else notLoggedIn">      
        <button mat-button (click)="logout()">Logout
            <mat-icon>logout</mat-icon>
        </button>
    </div>
    <ng-template #notLoggedIn>
        <button mat-button (click)="login()">Login 
            <mat-icon>login</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="toggleTheme.emit()">Toggle Theme</button>
        </mat-menu>
    </ng-template>
</mat-toolbar>


