h1 {
    font-size: 40px;
}

.hero {
    position: relative;
    top: 300px;
    margin-inline: auto;
}

@import '/src/theme.scss';

.mat-card {
    max-width: 600px;
    min-width: fit-content;
    margin-inline: auto;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
}

.text-primary {
    color: map-get($mat-green, 800);
}

.title {
    font-size: 60px;
}
