.budget-building-stats {
    font-size: 20px;
}

.grid-container{
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit);
}

.chart {
    height: fit-content;
    display: flex;
    justify-content: center;
}