<!-- Create a new budget -->
<div *ngIf="budget && budget == null">
    <h1>Budget Creation for {{currDate | date:'MMMM'}}</h1>
    <!-- budget creation form -->
    <form [formGroup]="budgetIncomeForm" class="flex-container-v" (ngSubmit)="createBudget()">
        <mat-form-field appearance="fill">
            <mat-label>Income</mat-label>
            <input matInput type="number" formControlName="income">
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">CREATE BUDGET
            <mat-icon>create</mat-icon>
        </button>
    </form>
</div>

<!-- Edit existing budget -->
<div *ngIf="budget && budget != null">
    <h1>Budget Modification for {{currDate | date:'MMMM'}}</h1>
    <div class="budget-building-stats flex-container-v">
        <span>Current Estimated Income: {{budget?.income | currency}}</span>
        <span *ngIf="pastBudget?.overflow">Current overflow from past month: {{pastBudget?.overflow}}</span>
        <span>Current Budgeted Total: {{budgetService.getTotalBudgeted(budget) | currency}}</span>
        <span>Remaining: {{budgetService.getRemaining(budget) | currency}}</span>
    </div>
    <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
    <div class="grid-container">
        <div style="grid-column: 1; padding-right: 20px;">
            <!-- Edit income -->
            <form [formGroup]="budgetAlterationForm" class="flex-container-v" (ngSubmit)="updateBudget()">
                <mat-form-field appearance="fill">
                    <mat-label>Income</mat-label>
                    <input matInput type="number" formControlName="income">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="updateBudget()">UPDATE INCOME
                    <mat-icon>update</mat-icon>
                </button>
                <mat-divider style="margin-top: 10px; margin-bottom: 30px;"></mat-divider>
                <mat-form-field appearance="fill">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" required>
                        <mat-optgroup *ngFor="let parent of budgetService.parentCategories" [label]="parent">
                            <mat-option *ngFor="let category of budgetService.getCategoryNames(parent)" [value]="category">{{category.name}}</mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" formControlName="amount">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Colour</mat-label>
                    <input matInput type="color" formControlName="colour">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">ADD TO BUDGET
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-raised-button color="warn" (click)="removeCategory(budgetAlterationForm.get('category')?.value)" style="margin-top: 10px;" *ngIf="hasCategory(budgetAlterationForm.get('category')?.value)">REMOVE
                    <mat-icon>delete</mat-icon>
                </button>
            </form>
        </div>
        <div style="grid-column: 2; padding-left: 20px;">
            <h3>Current Budget (WIP)</h3>
            <ul *ngFor="let parent of budgetService.getParentCategories(budget)">
                <li>{{parent}}</li>
                <ul *ngFor="let category of budgetService.getCategoriesForParent(parent, budget)">
                    <li class="flex-container-h"><span>{{category.name}}</span><span class="spacer"></span><span>{{category.amount | currency}}</span></li>
                </ul>
            </ul>
        </div>
    </div>
</div>
